/* logo colors for reference
hat:a08167
body: #50616c
body highlights: 2f3f50
beard: e9e8e7 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
