/* logo colors for reference
hat:a08167
body: #50616c
body highlights: 2f3f50
beard: e9e8e7 */
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #2f3f50;
    color: white;
    padding: 1rem;
    text-align: center;
   }
    h1{
       font-family: puk;
       font-size:50px;
    }
#title{
       display:inline;
    }
    nav {
      background-color: #50616c;
      padding: 1px;
      border-radius:10px;
    }
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding:10px;
    border-radius:10px;
    background-color: #a08167;
}

nav a {
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    background-color: #d0b1a7;
    padding:12px;
}
    body{
      background-color:#50616c;
      color: white;
    }

#logo{
      display:inline;
    }
footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
