<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Wise - Home</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/en/face/puk" type="text/css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Waste Wise</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact" aria-disabled="true">Contact</a></li>
                <li><a href="/lunchboxes">Lunchboxes</a></li>
            </ul>
        </nav>
    </header>

    <div style="margin-bottom: 5vh; min-height: 100vh; padding: 20px; box-sizing: border-box; overflow: auto;">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>Waste Wise was created for the DigiPen Hackabyte 2025 Spring Hackathon</p>
    </footer>

</body>
</html>
